{
    "Dhcp4": {
        "interfaces-config": {
            "interfaces": {{ kea_dhcp4_interfaces | to_nice_json(indent=4, ensure_ascii=False ) | indent(12, False) }},
            "dhcp-socket-type": "raw"
        },

{% if kea_ctrl_agent_enabled %}
        // Create a socket which the Control Agent may use to communicate.
        "control-socket": {
            "socket-type": "unix",
            "socket-name": "/kea/sockets/dhcp4.socket"
        },

{% endif %}
        // Specifies credentials to access lease database.
        "lease-database": {
            "type": "memfile",
            "name": "/kea/leases/dhcp4.csv",
            "lfc-interval": 3600
        },

        // Multi-threading options.
        "multi-threading": {
            "enable-multi-threading": {{ kea_dhcp4_multi_threading_enable | bool | to_json }},
{% if kea_dhcp4_multi_threading_enable %}
            "thread-pool-size": {{ kea_dhcp4_multi_threading_pool_size | int }},
            "packet-queue-size": {{ kea_dhcp4_multi_threading_queue_size | int }}
{% endif %}
        },

        // Lease queue and lifetime values.
        "parked-packet-limit": {{ kea_dhcp4_parked_packet_limit | int }},
        "valid-lifetime": {{ kea_dhcp4_valid_lifetime | int }},
        "renew-timer": {{ kea_dhcp4_renew_timer | int }},
        "rebind-timer": {{ kea_dhcp4_rebind_timer | int }},

{% for key, value in kea_dhcp4_raw_options.items() %}
        "{{ key }}": {{ value | to_nice_json(indent=4, ensure_ascii=False) | indent(8, False) }},

{% endfor %}
        // We include the subnet file separately to make this one less cluttered.
        <?include "/kea/config/subnet4.json"?>

        "loggers": {{ kea_logging_raw_dhcp4 | to_nice_json(indent=4, ensure_ascii=False ) | indent(8, False) }}
    }
}
